<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Template</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HomeLayout.css" />
</head>
<body>
    <header>
        @{
            if (IsSectionDefined("Header"))
            {
                @await RenderSectionAsync("Header",
                     required: false)
            }
            else
            {
                @await Html.PartialAsync("_Header")
            }
        }
    </header>
   
    <main>@RenderBody()</main>
    <footer>
        @{
            if (IsSectionDefined("Footer"))
            {
                @await RenderSectionAsync("Footer",
                     required: false)
            }
            else
            {
                @await Html.PartialAsync("_Footer")
            }
        }
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

