*, *::after, *::before {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    min-height: 100svh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 30px;
    grid-template-areas:
        'nav nav '
        'aside main '
        'footer footer ';
}

nav {
    grid-area: nav;
    background-color: red;
}

aside {
    grid-area: aside;
    background-color: greenyellow;
}

main {
    grid-area: main;
    background-color: white;
}

footer {
    grid-area: footer;
    background-color: yellow;
}
