
        @model Template.Models.TemplateModel
        @using (Html.BeginForm("SelectColumns", "Template", FormMethod.Post))
        {
        <div class="formContainer">
                     <div class="row">
                        <div class="col-md-4">
                            <label for="ColumnName">ColumnName</label>
                            <input type="text" value="MessageId" class="form-control ColumnName" name="Columns[0].ColumnName" />
                        </div>
                        <div class="col-md-4">
                            <label for="DataType">DataType</label>
                            <input type="text" value="int" class="form-control DataType" name="Columns[0].DataType"  />
                        </div>
                        <div class="col-md-4">
                            <label for="Exclude">Exclude From Model</label><br />
                            <select name="Columns[0].Exclude" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                                         <div class="row">
                        <div class="col-md-4">
                            <label for="ColumnName">ColumnName</label>
                            <input type="text" value="Sender" class="form-control ColumnName" name="Columns[1].ColumnName" />
                        </div>
                        <div class="col-md-4">
                            <label for="DataType">DataType</label>
                            <input type="text" value="int" class="form-control DataType" name="Columns[1].DataType"  />
                        </div>
                        <div class="col-md-4">
                            <label for="Exclude">Exclude From Model</label><br />
                            <select name="Columns[1].Exclude" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                                         <div class="row">
                        <div class="col-md-4">
                            <label for="ColumnName">ColumnName</label>
                            <input type="text" value="Receiver" class="form-control ColumnName" name="Columns[2].ColumnName" />
                        </div>
                        <div class="col-md-4">
                            <label for="DataType">DataType</label>
                            <input type="text" value="int" class="form-control DataType" name="Columns[2].DataType"  />
                        </div>
                        <div class="col-md-4">
                            <label for="Exclude">Exclude From Model</label><br />
                            <select name="Columns[2].Exclude" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                                         <div class="row">
                        <div class="col-md-4">
                            <label for="ColumnName">ColumnName</label>
                            <input type="text" value="Message" class="form-control ColumnName" name="Columns[3].ColumnName" />
                        </div>
                        <div class="col-md-4">
                            <label for="DataType">DataType</label>
                            <input type="text" value="nvarchar" class="form-control DataType" name="Columns[3].DataType"  />
                        </div>
                        <div class="col-md-4">
                            <label for="Exclude">Exclude From Model</label><br />
                            <select name="Columns[3].Exclude" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                                         <div class="row">
                        <div class="col-md-4">
                            <label for="ColumnName">ColumnName</label>
                            <input type="text" value="GUID" class="form-control ColumnName" name="Columns[4].ColumnName" />
                        </div>
                        <div class="col-md-4">
                            <label for="DataType">DataType</label>
                            <input type="text" value="nvarchar" class="form-control DataType" name="Columns[4].DataType"  />
                        </div>
                        <div class="col-md-4">
                            <label for="Exclude">Exclude From Model</label><br />
                            <select name="Columns[4].Exclude" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                                         <div class="row">
                        <div class="col-md-4">
                            <label for="ColumnName">ColumnName</label>
                            <input type="text" value="CreatedBy" class="form-control ColumnName" name="Columns[5].ColumnName" />
                        </div>
                        <div class="col-md-4">
                            <label for="DataType">DataType</label>
                            <input type="text" value="int" class="form-control DataType" name="Columns[5].DataType"  />
                        </div>
                        <div class="col-md-4">
                            <label for="Exclude">Exclude From Model</label><br />
                            <select name="Columns[5].Exclude" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                                         <div class="row">
                        <div class="col-md-4">
                            <label for="ColumnName">ColumnName</label>
                            <input type="text" value="CreatedDate" class="form-control ColumnName" name="Columns[6].ColumnName" />
                        </div>
                        <div class="col-md-4">
                            <label for="DataType">DataType</label>
                            <input type="text" value="datetime2" class="form-control DataType" name="Columns[6].DataType"  />
                        </div>
                        <div class="col-md-4">
                            <label for="Exclude">Exclude From Model</label><br />
                            <select name="Columns[6].Exclude" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                                         <div class="row">
                        <div class="col-md-4">
                            <label for="ColumnName">ColumnName</label>
                            <input type="text" value="Active" class="form-control ColumnName" name="Columns[7].ColumnName" />
                        </div>
                        <div class="col-md-4">
                            <label for="DataType">DataType</label>
                            <input type="text" value="bit" class="form-control DataType" name="Columns[7].DataType"  />
                        </div>
                        <div class="col-md-4">
                            <label for="Exclude">Exclude From Model</label><br />
                            <select name="Columns[7].Exclude" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                            <input type="submit" value="Create" />
        </div>

        }
