@model Template.Models.TemplateModel
        @using (Html.BeginForm("SelectColumns", "Template", FormMethod.Post))
        {
<div class="m-4">
        @Html.Raw(ViewBag.SelectColumnPage)
</div>
        }
