

*, *::after, *::before {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    min-height: 100svh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 30px;
    grid-template-areas:
        'header header '
        'aside main '
        'footer footer ';
}

header {
    display: flex;
    flex-direction: row;
}

#navbar-logo {
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 0;
    background-color: aqua;
}

#nav-main {
    flex-shrink: 0;
    flex-grow: 1;
    background-color: red;
}

#nav-user-info {
    flex-basis: 100px;
    flex-shrink: 1;
    flex-grow: 0;
    background-color: blue;
}

header {
    grid-area: header;
    background-color: red;
}

aside {
    grid-area: aside;
    background-color: greenyellow;
}

main {
    grid-area: main;
    background-color: white;
}

footer {
    grid-area: footer;
    background-color: yellow;
}
